extends base

block content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg Add New Product
        form.form.form--newProduct
          .form__group
            label.form__label Name
            input#name.form__input(required)
          .form__group
            label.form__label Price
            input#price.form__input(type='number', required)
          .form__group
            label.form__label Category
            input#category.form__input(required)
          .form__group
            label.form__label Sub Category
            input#subCategory.form__input(required)
          .form__group
            label.form__label Summary
            input#summary.form__input(required)
          .form__group
            label.form__label Description
            input#description.form__input(required)

          .form__group
            button.btn.btn--green Add Product